alembic==1.12.1
click==8.1.7
Flask==2.3.3
Flask_Login==0.6.3
Flask_Migrate==4.0.5
flask_sqlalchemy==2.5.1
passlib==1.7.4
python-decouple==3.8
Requests==2.31.0
SQLAlchemy==2.0.23
Werkzeug==2.2.2
psycopg2==2.9.9
pytest==7.4.3
